body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background: #0a0a0a;
  color: white;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #222;
  z-index: 1000;
}

.logo {
  font-size: 30px;
  letter-spacing: 3px;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.logo:visited {
  color: white;
}

nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav a {
  margin: 0 20px;
  color: white;
  text-decoration: none;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #00ffcc;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}

section {
  padding: 120px 20px;
  text-align: center;
  
}
.underline-link {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: rgb(255, 255, 255);
}
